
# Authentication method BASIC,SAML,NO
auxiliary.storage.service.authentication = NO

ws-security.signature.properties = file:${tesb.home}/etc/keystores/serviceKeystore.properties
ws-security.signature.username = myservicekey
ws-security.signature.password = skpass
