<?xml version="1.0" encoding="UTF-8" ?>
<wsp:Policy Name="wspolicy_schema_correlation_id_xpath"  xmlns:wsp="http://www.w3.org/ns/ws-policy">
    <wsp:ExactlyOne>
        <wsp:All>
            <tpa:CorrelationID xmlns:tpa="http://types.talend.com/policy/assertion/1.0" type="XPATH" />//*[namespace-uri()='http://services.talend.org/crm/types' and local-name()='LoginUser']/username/text()</tpa:CorrelationID>
        </wsp:All>
    </wsp:ExactlyOne>
</wsp:Policy>
